<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--set注入 简单变量int-->
<bean id="userBean" class="com.wyjun.bean.entity.User">
    <!--类型自动转换，底层spring已经完成了String和int的转换。-->
    <property name="age" value="20"></property>
</bean>

</beans>