<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--将User这个bean对象的生命周期比如创建销毁等全交给SpringIoC容器来管理-->
    <!--id属性:在同一个spring的配置文件中，不能重复。是bean的唯一标识-->
    <!--class属性:指定Bean对应类的全限定类名-->
    <bean id="userBean" class="com.wyjun.bean.User"></bean>

    <!--注意：bean的id是不能重复的-->
    <!--<bean id="userBean" class="com.jkweilai.spring.bean.Vip"></bean>-->
    <bean id="nowTime" class="java.util.Date"></bean>
</beans>